name: Publish GAP Docker image

on:
  workflow_dispatch:
    inputs:
      VERSION:
        required: true
        type: choice
        options: ["master","tex","4.10.0","4.10.1","4.10.2","4.11.0","4.11.1","4.12.0","4.12.1","4.12.2","4.13.0","4.13.1","4.14.0-beta1"]
      TYPE:
        required: true
        type: choice
        options: ["min","slim","full"]
  workflow_call:
    inputs:
      VERSION:
        required: true
        type: string
      TYPE:
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  build:
    name: Publish GAP-${{ inputs.BRANCH }} Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Compose Dockerfile
        shell: bash
        run: |
          # Add GAP_HOME to Dockerfile
          GAP_HOME=$(grep "GAP_HOME=" DIRECTORIES.txt | cut -d'=' -f2)
          sed -i -e "s#{{GAP_HOME}}#$GAP_HOME#" Dockerfile
          
          # Add GAP_ROOT to Dockerfile
          GAP_ROOT=$(grep "GAP_ROOT=" DIRECTORIES.txt | cut -d'=' -f2)
          sed -i -e "s#{{GAP_ROOT}}#$GAP_ROOT#" Dockerfile
          
          # Add BASE_IMAGE to Dockerfile
          BASE_IMAGE=$(grep "${{ inputs.VERSION }}=" BASE_IMAGE.txt | cut -d'=' -f2)
          sed -i -e "s#{{BASE_IMAGE}}#$BASE_IMAGE#" Dockerfile
          
          # Add VERSION to Dockerfile
          sed -i -e "s#{{VERSION}}#${{ inputs.VERSION }}#" Dockerfile
          
          # Add PACKAGE_LIST to Dockerfile
          PACKAGE_LIST=$(tr "\n" " " < ${{ inputs.TYPE }}/PACKAGE_LIST.txt)
          sed -i -e "s#{{PACKAGE_LIST}}#$PACKAGE_LIST#" Dockerfile

          # Add PACKAGE_MODE to Dockerfile
          if [ ${{ inputs.TYPE }} -eq "full" ]; then
              PACKAGE_MODE="delete"
          else
              PACKAGE_MODE="accept"
          fi
          sed -i -e "s#{{PACKAGE_MODE}}#$PACKAGE_MODE#" Dockerfile
          
          # Add TEMP_DEPS to Dockerfile
          TEMP_DEPS=$(grep "${{ inputs.VERSION }}=" ${{ inputs.TYPE }}/TEMP_DEPS.txt | cut -d'=' -f2)
          sed -i -e "s#{{TEMP_DEPS}}#$TEMP_DEPS#" Dockerfile
          
          # Add PERM_DEPS to Dockerfile
          PERM_DEPS=$(grep "${{ inputs.VERSION }}=" ${{ inputs.TYPE }}/PERM_DEPS.txt | cut -d'=' -f2)
          sed -i -e "s#{{PERM_DEPS}}#$PERM_DEPS#" Dockerfile
          
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=raw,value=${{ inputs.VERSION }}-${{ inputs.TYPE }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
